NODE_ENV = development
CLIENT = "http://localhost:3000, http://localhost:3001, http://localhost:3002"
PORT = 5000
NAME = "Tecnoesis"

SECRET = "supersecretpassword"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/tecno?schema=public"

MAIL_ID = hello@gmail.com
MAIL_PASSWORD = helloworld@123
